/* promotion heading code portion */
.promotion-container{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion-p{
    width: 101.29px;
    height: 15px;
    left: 781.45px;
    gap: 0px;
    opacity: 0px;
    font-family: "Sora";
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.2000000476837158px;
    text-align: center;
    color: rgba(0, 98, 245, 1);
}

.promotion-h2{
    width: 400.42px;
    height: 40px;
    top: 31px;
    left: 631.89px;
    gap: 0px;
    opacity: 0px;
    font-family: "Sora";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.9599999785423279px;
    text-align: center;
    color: rgba(33, 33, 33, 1);
}

/* first box*/
.first-box{
    background-color: rgba(214, 214, 216, 1);
}
.first-box-girl-image{
    height: 100%;
    width: 140%;
}

/* second box */
.second-box{
    background-color: rgba(33, 33, 33, 1);
}
.divbox{
    background: rgba(71, 71, 71, 1);
    width: Hug (316.61px)px;
    height: Hug (37px)px;
    padding: 8px 41.61px 8px 42px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    color: rgba(255, 255, 255, 1);
}

/* third box */
.third-box{
    background-color: rgba(239, 225, 199, 1);
}

.fourth-box{
    background-color: rgba(215, 215, 217, 1);
    
}